{% extends "login/base.html" %}

{% block title %}Food Donation - Reset Password{% endblock %}
{% block header %}Forgot Password{% endblock %}
{% block form %}
<form class="login100-form validate-form" action="{{url_for('login.reset_password')}}" method="post">
  {{ form.hidden_tag() }}
  {{ form.csrf_token() }}

  <div class="wrap-input100 validate-input m-b-10">
    {{ form.email_address(class='input100', placeholder='Enter your registered E-mail Address')}}
    <span class="focus-input100"></span>
    <span class="symbol-input100">
      <i class="fa fa-envelope"></i>
    </span>
  </div>
  {% include "/includes/alert_message.html"%}
  <div class="container-login100-form-btn p-t-10">
    {{ form.submit(class='login100-form-btn btn-success')}}
  </div>

  <div class="links wrap-input100">
    {% block link %}
    <a href="" class="create-account-link txt1" data-bs-toggle="modal" data-bs-target="#choose-role">Don't have an account? Register here</a>
    {% endblock %}
  </div>
</form>
{% endblock %}