<!-- Modal -->
<div class="modal fade" id="distribution_photo_modal{{loop.index}}" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Distribution Photos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form>
            <div id="distribution_photo{{donation_id}}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  {% for index in range (0, distribution_photo['photo_url']|length) %}
                  {% if index == 0 %}
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  {% else %}
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{index}}" aria-label="Slide {{index}}"></button>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for img in range (0, distribution_photo['photo_url']|length) %}
                    {% if img == 0 %}
                    <div class="carousel-item active">
                      <img src="{{distribution_photo['photo_url'][img]}}" class="d-block w-100 carousel-item-img" alt="...">
                    </div>
                    {% else %}
                    <div class="carousel-item">
                      <img src="{{distribution_photo['photo_url'][img]}}" class="d-block w-100 carousel-item-img" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                      </div>
                    </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#distribution_photo{{donation_id}}" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#distribution_photo{{donation_id}}" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>