#section0-main {
    margin-top: 100px;
}

#organizations {
    padding: 0 0 3rem 0 !important;
}

form.d-flex {
    margin-top: 20px;
    margin-bottom: 50px;
}

.card {
    height: 100%;
}

a.btn {
    margin-bottom: 20px;
}

.card-text span {
    font-weight: bold;
}
.image-container{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    overflow: hidden;
}


.image-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about{
    text-align: justify;
}