.content-0, .content-1 {
    padding-top: 15%;
    padding-bottom: 5%;
}
.content-0{
    min-width: 60%;
    float: left;
    background-color: #009806;
    padding-left: 5%;
}
.content-1{
    min-width: 40%;
    float: right;
    background-color: #009806;
    padding-right: 5%;
}
.content-2{
    background-color: #009806;
    color: white;
    float: right;
    justify-content: center;
    min-width: 33.33%;
}
.content-3, .content-4, .members-list{
    padding-left: 10%;
    min-width: 100%;
}
.content-0-container{
    padding-left: 20%;
    height: 200px;
    line-height: 200px;

}
.role-name{
    font-size: 1.5vw;
    color: white;
}
.user-name{
    font-size: 6vw;
    color: white;
    font-weight: bolder;
}
.edit-btn{
    width: 150px;
    font-size: 1vw;
    font-weight: bold;
    color: black;
    background: #FFFF00;
    border: 2px solid #009806;
    border-radius: 56px;
}
.fa-question-circle{
    color: #FFFF00;
}
.btn:active{
    border: 2px solid white;
}
.btn:hover{
    background: #ffff00d7;
}
#content-0-span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.image-container{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    padding-top: 0%;
    top: 0;
}

.image-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background: white;
    border: 5px solid #FFFF00;
    box-sizing: border-box;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.image-wrapper .image{
    position:absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-wrapper .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#dets{
    color:#FFFF00;
}
#about-icon, #members-icon{
    padding-top: 5%;
    color: #a8a808;
}
#about-content{
    color: #009806;
    padding-right: 5%;
}
/* 
navbar */
header {   
    background-color: white;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    z-index:100;
    float: center;
    padding-bottom: 5%;

}
nav{
    position: absolute;
}
/* sidebar */
.sidebar-sticky{
    padding-top: 25% !important;
}

.c-00{
    margin-top: 5% !important;
}

#section3-main {
    margin: 100px 0 ;
}

.members-list {
    margin-top: 25px;
}

.members-list ul {
    list-style: none;
    padding-left: 0;
}

.members-list li{
    /*list-style: none;*/
    padding: 10px;
    margin: 5px 0;
    background-color: #eee;
    border-radius: 5px;
    width: 85%;
}

.members-list .alert-primary{
    width: 85%;
}

.members-list img {
    margin-right: 1rem;
    border-radius: 100%;
}

#section3-main, #section4-main{
    margin: 50px 50px 0px 60px; /* top right bottom left */
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: stretch;  
    column-gap: 10px;
    padding: 5px;
}

.fas{
    color: #009000;
}
.fas:hover{
    color: #ffff00;  
}

#section4-main img{
    width: 48px;
    height: 48px;
}

#section4-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}