@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-ExtraBold;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
body{
    background-color: #ffffff;
    justify-content: center;
}

.header{
    font-family: Montserrat-Bold;
    color: #706d6d;
    font-size: medium;
}
.content{
    justify-content: center;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    justify-content: center;  
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    padding: 5%;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.alert{
    padding: 1% !important;
}

.me-2 {
    margin-right: .5rem!important;
}

.row{
    margin-bottom: 3% !important;
}


.form-control{
    border: 1px solid #b7ddbb !important;
    border-radius: 15px !important;
}

.list-group-item{
    border: 2px solid rgb(205, 241, 213);
    background-color: rgb(205, 241, 213);
    border-radius: 10px !important;
}
.list-group-item:hover{
    border: 2px solid #1aa828;
    background-color: rgb(205, 241, 213);
    border-radius: 10px !important;
}

.active{
    background-color: #1aa828 !important;
    border: 2px solid #1aa828 !important;
}

.image-container{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    position:sticky;
}

.image-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background: white;
    border: 2px solid #1aa828;
    overflow: hidden;
}

.image-wrapper .image{
    position:absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-wrapper .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.button-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
}
#upload-btn{
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 200;
    font-size: small;
    margin-top: 20px;
    min-width: 25%;
    height: 50%;
    color: #313131;
    background-color: rgb(205, 241, 213);
    border-radius: 20px;
    cursor: pointer;

}

#upload-btn:hover{
    color: #313131;
    border: 2px solid #1aa828;
    background-color: rgb(205, 241, 213);

}

.submit-button {
    position: relative;
    display: flex;
    justify-content: center;
    width: 232px;
    background-color: #1aa828;
    border-radius: 20px;
}

.submit-button:hover {
    border: 2px solid #90e699;
    cursor: pointer;
}

.submit-text{
    color: white;
}
.submit-text:hover{
    color: white !important;
}

.cancel-button {
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 232px;
    border: 1px solid #c0bebe;
    border-radius: 20px;
}

.cancel-button:hover {
    position: relative;
    display: flex;
    justify-content: center;
    width: 232px;
    background-color: rgb(216, 215, 215);
    border: transparent;
    border-radius: 20px;
    cursor: pointer;
}
/* 
navbar */
header {   
    background-color: white;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    z-index:100;
    float: center;
    padding-bottom: 5%;

}
nav{
    position: absolute;
}
/* sidebar */
.sidebar-sticky{
    padding-top: 25% !important;
}

.c-00{
    margin-top: 5% !important;
}