<header> 
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="sidebar-menu navbar-toggler-icon border rounded-3 p-1" href="#" data-bs-target="#sidebar" data-bs-toggle="collapse"  role="button" aria-controls="sidebar"></a>
      <a class="navbar-brand ms-5" href="{{ url_for('landing.landing', request_for='learn') }}#learn"><h1><span id="FO">FOODLE</span></h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ms-5">
            <a class="nav-link pt-2" aria-current="page" href="{{ url_for('landing.landing', request_for='learn') }}#learn">How it Works</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link" href="{{ url_for('landing.landing', request_for='where_it_goes') }}#where_it_goes">Where it Goes</a>
          </li>
          <li class="nav-item dropdown ms-4 ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="text-center p-1">
                  {% if donor["image_link"] != None%}
                    <img src="{{ donor['image_link'] }}" alt="Profile Picture" width="35" 
                    height="35" class="profile-photo"/> 
                  {% else %}
                    <img src="https://res.cloudinary.com/deh9vgcga/image/upload/v1638884209/22-223968_default-profile-picture-circle-hd-png-download_ct3blj.png" alt="Profile Picture" width="35" 
                    height="35" class="profile-photo"/>
                  {% endif %}
                </span> 
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{url_for('my_profile.index')}}">My Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ url_for('login.logout') }}">Log out</a></li>
            </ul>
          </li>
          <div class="d-flex" id="nav-icon-container">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-bell nav-icon"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Notif  1</a></li>
                <li><a class="dropdown-item" href="#">Notif  2</a></li>
                <li><a class="dropdown-item" href="#">Notif  3</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#" disbled>End of the list</a></li>
              </ul>
            </li>
            <li class="nav-item ms-3 dropdown">
              <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-chat-dots nav-icon"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Message 1</a></li>
                <li><a class="dropdown-item" href="#">Message 2</a></li>
                <li><a class="dropdown-item" href="#">Message 3</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#" disbled ="true">End of the list</a></li>
              </ul>
            </li>

          </div> 
        </ul>
      </div>
    </div>
  </nav>
</header>

 
