<div class="col-auto px-0 sidebar-container">
  <div id="sidebar" class="show border-end collapse collapse-horizontal sticky-top">
    <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100 sidebar-sticky">
          <div class="text-center p-3">
            {% if donor['image_link'] %}
            <img src="{{donor['image_link']}}" alt="Profile Picture" width="120" class="profile-photo"
            height="120" /> 
            {% else %}
            <img class="profile-photo" src="https://res.cloudinary.com/deh9vgcga/image/upload/v1638884209/22-223968_default-profile-picture-circle-hd-png-download_ct3blj.png" alt="Profile Picture" width="120" 
            height="120" /> 
            {% endif %}
          </div> 
          {% if donor['org_name'] %}
          <h6 class="text-center">{{donor['org_name']}}</h6>
          {% else %}
          <h6 class="text-center">{{donor['first_name']}} {{donor['middle_name']}} {{donor['last_name']}}</h6>
          {% endif %}
          <ul class="list-unstyled components nav-item-list">
            
            <li class="nav-item sidebar-item">
              <a href="{{url_for('collectors_view.collectors_view')}}"  class="sidebar-link">
                <i class="bi bi-basket nav-item-icon"></i>
                <span class="nav-item-label">Posted Donations</span>
              </a>
            </li>
            <li class="nav-item sidebar-item">
              <a href="#"  class="sidebar-link">
                <i class="bi bi-calendar-event nav-item-icon"></i>
                <span class="nav-item-label">Events</span>
              </a>
            </li>
            <li class="nav-item sidebar-item">
                <a href="{{url_for('my_profile.index')}}"  class="sidebar-link">
                  <i class="bi bi-person nav-item-icon"></i>
                  <span class="nav-item-label">Profile</span>
                </a>
            </li>
            <li class="nav-item sidebar-item">
                <a href="{{url_for('dashboard.members')}}"  class="sidebar-link">
                  <i class="bi bi-people-fill nav-item-icon"></i>
                  <span class="nav-item-label">Members</span>
                </a>
            </li>
            <li class="nav-item sidebar-item">
                <a href="{{url_for('settings.settings')}}"  class="sidebar-link">
                  <i class="bi bi-gear nav-item-icon"></i>
                  <span class="nav-item-label">Settings</span>
                </a>
            </li>
            <li class="nav-item sidebar-item">
                <a href="{{url_for('login.logout')}}"  class="sidebar-link">
                  <i class="bi bi-power nav-item-icon"></i>
                  <span class="nav-item-label">Logout</span>
                </a>
            </li>
          </ul>
      </div>
  </div>
</div>
